<mat-toolbar>
    <mat-toolbar-row>
        <span class="next-logo-text">SCH</span>
        <ul class="nav navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ficon feather icon-bell"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ficon feather icon-shopping-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="next-avatar">
                    <div class="user-nav">
                        <span class="user-name">ram</span>
                    </div>
                </a>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let product of productData;let i = index;">
                    <mat-card class="card next-card">

                        <div class="card-body" align="center">
                            <img src="{{product.productImage}}" width="100%" height="100%">
                            <div class="py-3">
                                <p class="mb-0"><b>{{product.productName}}</b></p>
                                <p class="mb-2"><b>₹ {{product.productPrice}}</b></p>
                                <button mat-raised-button color="primary" class="mt-1"
                                    (click)="productCart(product,i)">Add to Cart</button>
                                <!-- <div *ngIf="showCart">
                                    <button class="cart-btn border-left" (click)="minus()">-</button>
                                    <input type="number" value="{{product.quantity}}" class="cart-quantity">
                                    <button class="cart-btn border-right" (click)="plus()">+</button>
                                </div> -->
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <mat-card class="card">
                <div class="card-body">
                    <h5 class="text-center"><b>Your Cart</b></h5>
                    <hr>
                    <div class="row mt-3" *ngFor="let cart of cartlist;let i=index">
                        <div class="col-md-12">
                            <p class="float-right mb-0"><i class="feather icon-x-circle" (click)="remove(i)"
                                    style="cursor: pointer;"></i></p>
                        </div>
                        <div class="col-md-5 col-5">
                            <img src="{{cart.productImage}}" class="mt-2" width="90px" height="90px">
                        </div>
                        <div class="col-md-7 col-7">
                            <div class="row mt-2">

                                <div class="col-md-12 ">
                                    <p class="mb-1 text-center" style="font-size: 12px;"><b>{{cart.productName}}</b></p>
                                </div>
                                <div class="col-md-12 ">
                                    <p class="text-center mt-1 mb-2" style="font-size: 12px;">
                                        <b>₹ {{cart.productPrice}}</b></p>
                                    <div class="mt-2 text-center">
                                        <button class="cart-btn border-left" (click)="minus(i)">-</button>
                                        <span style="font-size: 13px" class="mt-2 px-3"><b>{{cart.quantity}}</b></span>
                                        <button class="cart-btn border-right" (click)="plus(i)">+</button>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>