/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'dark-theme.scss';
@import 'light-theme.scss';
@import '~@angular/material/theming';
@include mat-core();
.dark-theme {
    @include angular-material-theme($dark-theme);
}

.light-theme {
    @include angular-material-theme($light-theme);
}
.mat-drawer-container {
    height: calc(100vh - 45px);
  }
  .mat-drawer.mat-drawer-side {
    z-index: 1;
    width: 220px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    border-right: 0px;
  }
  
  .mat-toolbar-multiple-rows,
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    min-height: 45px;
    height: 45px;
    background: #3c50fa;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  }

  .next-logo-text {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-top: 3px;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    right: 16px !important;
  }
  
  ul.nav li > a.nav-link {
    color: #fff;
    padding: 2.5px 7px;
    i {
      font-size: 1.2rem;
    }
  }
  
  .next-avatar {
    padding: 0rem 0.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .user-nav {
      flex-direction: column;
      -webkit-box-align: end;
      flex-direction: column;
      -webkit-box-align: end;
      align-items: flex-end;
      float: left;
      margin-right: 0.8rem;
    }
    .user-name {
      display: inline-block;
      font-size: 14px;
      color: #fff;
    }
  }
  
  .next-menu {
    outline: unset;
    color: #fff !important;
  }
  
.next-card {
    margin-bottom: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0px !important;
    cursor: pointer;
}

.next-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6) !important;
}
.cart-btn {
    min-width: 30px;
    min-height: 36px;
    padding: 0;
    margin: 0;
    position: relative;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: all .3s ease;
    color: #fff;
    background: #2b78d4;
    font-size: 16px;
}
.cart-quantity {
    width: 45%;
    line-height: 36px;
    border: 0px;
    text-align: center;
    background: #efefef;
}